name = "beloveful-visions"
main = "src/worker.js"
compatibility_date = "2025-09-01"
workers_dev = false  # optional, since you're using custom domains
assets = { directory = "dist" }

routes = [
  { pattern = "beloveful.com/*", zone_name = "beloveful.com" },
  { pattern = "www.beloveful.com/*", zone_name = "beloveful.com" }
]
